name: merge to main workflow

on:
  push:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}

jobs:
  get_asdf_version:
    runs-on: ubuntu-22.04
    outputs:
      asdf_version: ${{ steps.asdf-version.outputs.version }}
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          echo "TAG_FORMAT=$TAG_FORMAT" >> "$GITHUB_OUTPUT"

  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks.yml@3cba6a3733673bafc95526503478674332c26007
    needs: [get_asdf_version]
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    with:
      install_java: true
      asdfVersion: ${{ needs.get_asdf_version.outputs.asdf_version }}

  build:
    name: build
    runs-on: ubuntu-22.04
    needs: [get_asdf_version]
    steps:
      - uses: actions/setup-java@v5
        with:
          java-version: "24"
          distribution: "temurin"
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0 # This causes all history to be fetched, which is required for calculate-version to function

      # using git commit sha for version of action to ensure we have stable version
      - name: Install asdf
        uses: asdf-vm/actions/setup@1902764435ca0dd2f3388eea723a4f92a4eb8302
        with:
          asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}

      - name: Cache asdf
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302
        with:
          asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared

      - name: Install python packages
        run: poetry install

      - name: Run tests, and build
        run: make build

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        name: upload build artifact
        with:
          name: packaged_code
          path: |
            fhir-validator.jar

  package_code:
    needs: [quality_checks, build, get_asdf_version]
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0 # This causes all history to be fetched, which is required for calculate-version to function

      - name: download build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          name: packaged_code
          path: .

      # using git commit sha for version of action to ensure we have stable version
      - name: Install asdf
        uses: asdf-vm/actions/setup@1902764435ca0dd2f3388eea723a4f92a4eb8302
        with:
          asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}

      - name: Cache asdf
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302
        with:
          asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared

      - name: Install python packages
        run: poetry install

      - name: Set SPEC_VERSION env var
        # calculate new version number
        # and update Dockerfile with version and commit sha so its available in docker image when it is built by fhir facade
        run: |
          VALIDATOR_VERSION=$(poetry run python scripts/calculate_version.py)
          COMMIT_SHA=${{ github.sha }}
          sed -i 's/^ARG VALIDATOR_VERSION=.*/ARG VALIDATOR_VERSION='"$VALIDATOR_VERSION"'/; s/^ARG COMMIT_SHA=.*/ARG COMMIT_SHA='"$COMMIT_SHA"'/' Dockerfile
          echo "VALIDATOR_VERSION=${VALIDATOR_VERSION}" >> "$GITHUB_ENV"

      - name: Create release
        id: create_release
        # using commit hash for version v1.16.0
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ env.VALIDATOR_VERSION }}
          commit: ${{  github.sha }}
          artifacts: "fhir-validator.jar,Dockerfile,src/main/resources/manifest.json"
          makeLatest: true
          body: |
            ## Commit message
            ${{ github.event.head_commit.message }}
            ## Info
            [See code diff](${{ github.event.compare }})
            [Release workflow run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

            It was initialized by [${{ github.event.sender.login }}](${{ github.event.sender.html_url }})
